<template>
    <div class="flex flex-col">
        <div class="flex mt-2">
        <p>{{text_above_button}}</p>
        </div>
        <div class="flex flex-col my-2 w-full justify-center">
            <div class="flex">
            <input 
                class="rounded-l-md w-full p-2 border text-gray-800 border-gray-200 bg-white"
                :placeholder="placeholder"
                v-model="input_str"
                @keyup.enter="giveBack"
                />
            <button 
                :class="`px-8 rounded-r-md text-gray-800 font-bold p-2 uppercase ${btn_class}`"
                :disabled="btn_is_disabled"
                @click="giveBack"
                >{{button_name}}</button>
            </div>
            <p class="mx-2 font-italic text-red-800">{{error_text}}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "InputButton",
    data() {
        return {
            input_str: "",
        }
    },
    props: {
        input: String,
        name: String,
        text_above_button: String,
        placeholder: String,
        button_name: String,
        error_text: String,
        btn_class: String,
        btn_is_disabled: {
            type:Boolean,
            DEFAULT: false,
        }
    },
    emits: ['update:input'],
    methods: {
        giveBack: function() {
            if (this.input_str != "") {
                this.$emit("update:input" , this.input_str)
            }
        }
    }
}
</script>

<style>

</style>