<template>
  <div class="fixed bg-blue h-12 w-full text-white">
    <div class="flex flex-row items-center h-full">
      <router-link class="navbar-link flex flex-row" to="/">
        <i class="material-icons mr-1">home</i>
        <p>Home</p>
      </router-link>
      <router-link class="navbar-link flex flex-row" to="/about">
        <i class="material-icons mr-1">description</i>
        <p>About</p> 
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
    name: "NavBar"
}
</script>

<style>

</style>