<template>
  <div class="flex flex-col max-w-xl p-6 m-2 bg-white rounded-md shadow-sm">
      <div class="flex my-2">
          <h1>Welcome to <span class="text-orange">let's quiz</span> !</h1>
      </div>
      <div class="flex my-2">
          <p>Thank you for joining me today for a unique quiz! You can choose whether you want to join a game or create a new one.</p>
      </div>
        <input-button
          name="game_id"
          placeholder="Insert your code here"
          text_above_button="If you want to join an exisiting game, please insert your code below!"
          button_name="Join"
          v-model:input="game_id"
          :error_text="errorMessage"
          btn_class="btn-primary"
        ></input-button>
        <!-- <input-button
          name="username"
          placeholder="Insert your username here"
          text_above_button="If you rather want to create a new game, you have to login or create a new account. Therefore, please insert your username (if you already have an account) or a proposed username (if you want to create one)."
          button_name="LogIn"
          v-model:input="username"
          :error_text="errorMessage"
          btn_class="btn-primary"
        ></input-button> -->
  </div>
</template>

<script>
import Quiz from "../views/Quiz.vue"
import InputButton from "./InputButton.vue"

export default {
    name:"WelcomeTemp",
    props: {
      errorMessage: String,
    },
    components: {
      InputButton,  
    },
    data() {
      return {
        game_id: "",
        username:"",
      }
    },
    watch: {
      game_id: function () {
        this.$router.push(
          { name: "game", params: {id: this.game_id} }
        )
      },
      username: function () {
        this.$router.push(
          { name: "login_page", params: {username: this.username} }
        )
      }
    }
}
</script>

<style>

</style>