<template>
    <div class="flex flex-col max-w-xl p-6 m-2 bg-white rounded-md shadow-sm">
        <div class="my-2">
            <h1>{{ this.game.game_name }}</h1>
        </div>
        <div class="my-2">
            <p> {{this.game.game_desc}} </p>
        </div>
        <div class="flex flex-col my-4">
            <input-button
                name="game_id"
                placeholder="Insert your username here"
                :text_above_button="message"
                button_name="Go"
                v-model:input="username"
                :error_text="error_msg"
                :btn_class="button_class"
                :btn_is_disabled="btn_is_disabled"
            ></input-button>
        </div>
    </div>
</template>

<script>
import api from "../../api/api"
import InputButton from "../InputButton.vue"

export default {
    name: "WaitingScreen",
    components: {
        InputButton
    },
    data () {
        return {
            username: '',
            message: '',
            button_class: '',
            btn_is_disabled: false,
            error_msg: '',
        }
    },
    computed: {
        game: function() {
            return api.game.getGameById(this.$route.params.id)
        }
    },
    mounted() {
        switch (this.game.game_state) {
            case 1:
                this.message = 'The game is not started yet. We are still waiting for the admin to open this game for user to connect!';
                this.button_class = 'btn-primary-deactivated'
                this.btn_is_disabled = true
                break;
            case 2:
                this.message = 'The game is open for user to join but we are still waiting for the admin to start the game... Once the game is started, the button below will be activated.';
                this.button_class = 'btn-primary-deactivated'
                this.btn_is_disabled = true
                break;
            case 3:
                this.message = 'The game is started. You can join the game by clicking the button below.';
                this.button_class = 'btn-primary'
                this.btn_is_disabled = false
                break;
            case 4:
                this.message = 'Oh it seems that the game is already finished. If you want to join another game, go back to the homepage and enter another link.';
                this.button_class = 'btn-primary-deactivated'
                this.btn_is_disabled = true
                break;
        }
    },
    watch: {
        username: function() {
            var res = api.user.createTempUser(this.username);
            if (res.err != "") {
                this.error_msg = res.err
            } else {
                this.getRounds(this.game)
            }
        }
    },
    methods: {
            getRounds: function(game) {
                var rounds = api.round.getRoundsByGameId(game.game_id);
                console.log(rounds)
                if (rounds.length > 1) {
                    this.$router.push(
                        {name: "overview"}
                    )
                } else {
                    console.log(rounds);
                    this.$router.push(
                        {name: "round", query: {id: rounds[0].round_id} }
                    )
                }
            }
    }
}
</script>
