<template>
  <div class="flex flex-col bg-platinum-light">
    <!-- Navbar -->
    <div>
      <NavBar />
    </div>
    <!-- Content -->
    <div>
      <router-view />
    </div>
  </div>
  
</template>

<script>
import NavBar from "./components/NavBar.vue"

export default {
  name: 'App',
  components: {
    NavBar
  }
}
</script>
