/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl font-bold;
    }
    .btn {
        @apply py-2 px-4 font-semibold rounded-md shadow-md;
    }
    .btn-primary {
      @apply text-white bg-orange-light hover:bg-orange-dark focus:outline-none focus:ring focus:border-white;
    }

    .btn-primary-deactivated {
      @apply text-white bg-gray-200;
    }

    .navbar-link {
       @apply m-2 p-2 rounded-sm hover:bg-white hover:text-black;
    }

}