<template>
    <div class="flex w-screen h-screen">
        <div class="m-auto">            
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Game'
}
</script>
