<template>
    <div class="flex w-screen h-screen">
        <div class="m-auto">
            <WelcomeTemp :errorMessage="errorMsg"/>
        </div>
    </div>
</template>

<script>
import WelcomeTemp from "../components/WelcomeTemp.vue";

export default {
    name: 'Home Page',
    components: {
        WelcomeTemp
    },
    data(){
        return{
            errorMsg: ''    
        }
    },
    watch:{
        $route (to, from){
            this.checkRoute();
        }
    },
    mounted () {
        this.checkRoute();
    },
    methods: {
        checkRoute: function () {
            if ('redirect' in this.$route.query) {
                this.errorMsg = 'The game you were trying to access is not exisitng!'
            } 
        }
    }
}
</script>